.App {
  text-align: center;
}
.img {
  background: url("./images/background.jpg") center no-repeat;
  width: 100%;
  height: 50vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.price {
  margin-top: 1em;
  margin-bottom: 1em;
}
